@keyframes draftSlide1 {
  0% {
    opacity: 0;
    right: -155px;
    transform: rotate(0);
  }
  100% {
    opacity: .9;
    right: -40px;
    transform: rotate(-10deg);
  }
}

@keyframes draftSlide2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .9;
  }
}

@keyframes draftSlide3 {
  0% {
    left: -180px;
    transform: rotate(0);
  }
  100% {
    left: -40px;
    transform: rotate(5deg);
  }
}
