#Header {
  background: url("~/assets/images/bathroom.png") no-repeat;
  background-size: cover;
  .container {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    nav.Menu {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
        order: -1;
      }
    }
    h1 {
      max-width: 640px;
      margin-top: 50px;
      text-align: center;
      @include title;
    }
    p {
      max-width: 700px;
      text-align: center;
      color: $softBlack;
    }
    .poops {
      display: none;
    }
  }

  @media (min-width: 576px) {
    nav.Menu {
      a:nth-child(-n+3) {
        order: -1;
      }
    }
    .logo {
      order: 0;
    }
  }

  @media (min-width: 768px) {
    .poops {
      margin-top: 2em;
      max-height: 281px;
      overflow: hidden;
      img:first-child {
        animation: fadeInLeft 4s;
        position: relative;
        right: -110px;
        bottom: -53px;
        z-index: 1;
      }
      img:nth-child(2) {
        animation: fadeIn 3s;
        position: relative;
        z-index: 2;
      }
      img:last-child {
        animation: fadeInRight 4s;
        position: relative;
        left: -110px;
        bottom: -63px;
        z-index: 1;
      }
    }
  }

  @media (min-width: 992px) {  }

  @media (min-width: 1200px) { }
}
