#Header {
  background: url("~/assets/images/bathroom.png") no-repeat;
  background-size: cover;
  .Menu {
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    a {
      color: #3E2C4D;
      &:hover {
        font-weight: 700;
        color: #ff012f;
      }
    }
    button {
      border-color: #3E2C4D;
      color: #3E2C4D;
      &:hover {
        color: white;
        background-color: #ff012f;
        border-color: #ff012f;
      }
    }
    .logo {
      order: -1;
    }
    @media (min-width: 762px) {
    }
    @media (min-width: 992px) {
      justify-content: space-between;
      a:nth-child(-n+3) {
        order: -1;
      }
      .logo {
        order: 0;
      }
    }
  }
  h1 {
    margin-top: 50px;
    text-align: center;
    @include title;
  }
  p {
    max-width: 700px;
    text-align: center;
    color: $softBlack;
  }
  .IndexPage {
    .poops {
      margin-bottom: -10px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 2em;
      img:first-child {
        position: relative;
        right: -80px;
        bottom: -5px;
        flex: 1;
        animation: fadeInLeft;
        animation-duration: 2s;
      }
      img:nth-child(2) {
        flex:2;
        z-index: 1;
      }
      img:last-child {
        flex: 1;
        position: relative;
        left: -100px;
        bottom: -5px;
        animation: fadeInRight;
        animation-duration: 2s;
      }
    }
    .Hero {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    // @media (min-width: 576px) {
    //   .poops {
    //     &:first-child {
    //       right: -70px;
    //     }
    //     &:last-child {
    //       left: -75px;
    //     }
    //   }
    // }

    // @media (min-width: 768px) {
    //   .poops {
    //     .imgContainer {
    //       &:first-child {
    //         right: -80px;
    //         bottom: -3px;
    //       }
    //       &:last-child {
    //         left: -125px;
    //         bottom: -5px;
    //       }
    //     }
    //   }
    // }
  }
  .MintPage {
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .side {
      padding: 0;
    }
  }
}
