#Header {
  background: url("~/assets/images/bathroom.png") no-repeat;
  background-size: cover;
  .container {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    nav.Menu {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      .logo {
        order: -1;
      }
    }
    h1 {
      max-width: 640px;
      margin-top: 50px;
      text-align: center;
      @include title;
    }
    p {
      max-width: 700px;
      text-align: center;
      color: $softBlack;
    }
    .poops {
      margin-bottom: -10px;
      display: flex;
      align-items: flex-end;
      margin-top: 2em;
      .imgContainer {
        &:first-child {
          position: relative;
          right: -60px;
          flex: 1;
          animation: fadeInLeft;
          animation-duration: 2s;
        }
        &:nth-child(2) {
          flex:2;
          z-index: 1;
        }
        &:last-child {
          flex: 1;
          position: relative;
          left: -65px;
          animation: fadeInRight;
          animation-duration: 2s;
        }
      }
    }
  }

  @media (min-width: 576px) {
    nav.Menu {
      a:nth-child(-n+3) {
        order: -1;
      }
    }
    .logo {
      order: 0;
    }
    .container {
      .poops {
        .imgContainer {
          &:first-child {
            right: -70px;
          }
          &:last-child {
            left: -75px;
          }
        }
      }
    }
  }

  @media (min-width: 768px) {
    .container {
      .poops {
        .imgContainer {
          &:first-child {
            right: -80px;
            bottom: -3px;
          }
          &:last-child {
            left: -125px;
            bottom: -5px;
          }
        }
      }
    }
  }

  @media (min-width: 992px) { }

  @media (min-width: 1200px) { }
}
