#History {
  padding-top: 150px;
  align-items: center;
  h2 {
    color: white;
    @include title;
  }
  p {
    color: white;
  }
  .drafts {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    .imgContainer {
      &:first-child {
        position: relative;
        right: -40px;
        transform: rotate(-10deg);
        animation: draftSlide1 2s;
        opacity: .9;
      }
      &:nth-child(2) {
        position: relative;
      }
      &:last-child {
        position: relative;
        left:-40px;
        transform: rotate(5deg);
        animation: draftSlide3 2s;
      }
      img {
        border-radius: 16px;
        width: 100%;
        height: auto;
      }

    }
  }
}

#Roadmap {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  h2 {
    text-align: center;
    @include title;
  }

  .milestone {
    align-items: center;
    position: relative;
    .text {
      padding: 1em;
      h4 {
        color: white;
        font-size: 25px;
        font-family: 'Luckiest Guy';
        text-transform: uppercase;
      }
      p {
        color: white;
      }
    }
    .divider {
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10;
      p {
        text-align: center;
        vertical-align: center;
        margin-bottom: 0;
        width:80px;
        height: 80px;
        font-family: 'Luckiest Guy';
        font-size: 50px;
        background: #141a28;
        border-radius: 50%;
        position: relative;
        padding-top: 10px;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: -1;
          margin: -4px;
          border-radius: inherit;
          background: linear-gradient(90deg, $purple 0%, $red 100%);
        }
      }
    }
    @media (min-width: 768px) {
      &:after {
        content: "";
        border: 3px solid #4B465C;
        position: absolute;
        top: 50%;
        bottom: 0;
        left: calc(50% - 3px);
        z-index: 5;
      }
    }
    &:last-child {
      &:after {
        bottom: 50%;
      }
    }
  }
  .milestone ~ .milestone {
    &:after {
      top: 0;
    }
  }
}

#Attributes {
  padding-top: 200px;
  align-items: center;
  h2 {
    color: white;
    @include title;
  }
  p {
    color: white;;
  }
  .row {
    padding-bottom: 5em;
    .gallery {
      display: flex;
      flex-wrap: wrap;
      transform: rotate(10deg);
      img {
        width: 33.333%;
        padding: 5px;
        border-radius: 16px;
        position: relative;
        &:nth-child(1) {
          top: 2em;
        }
        &:nth-child(4) {
          top: 2em;
        }
        &:nth-child(2) {
          top: 4em;
        }
        &:nth-child(5) {
          top: 4em;
        }
      }
    }
  }
}

#Team {
  padding-top: 200px;
  h2 {
    color: white;
    @include title;
  }
  p {
    color: white;;
  }
  .member {
    display: flex;
    flex-direction: column;
    align-items: center;
    h4 {
      font-family: "Luckiest Guy";
      color: white;
    }
  }
}

#FAQ {
  padding-top: 200px;
  color: white;
  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h2 {
    text-align: center;
    color: white;
    @include title;
  }
  .questions {
    width: 100%;
    @media (min-width: 768px) {
      width: 90%;
    }
    @media (min-width: 992px) {
      width: 70%;
    }
    background: none;
    border: 2px solid #434853;
    border-radius: 16px;
    .question {
      background: none;
      border-bottom: 1px solid #434853;
      .card-header button {
        background: none;
        border: none;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        p {
          margin-bottom: 0;
        }
        span {
          font-size: 20px;
          line-height: 20px;
          border: 2px solid #434853;;
          border-radius: 50%;
          padding: 5px 10px;
        }
        &:focus {
          box-shadow: none;
        }
      }
      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}

#Mint {
  padding-top: 200px;
  h2 {
    color: white;
    @include title;
  }
  p {
    color: white;
  }
  div:last-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      font-size: 2em;
      padding: 20px 30px;
    }
  }
}
